@charset "BIG5";
.header
{
	background-color:#4AE2B7;
	width:600px;
	height:100px;
	padding-top:5px;
	margin-left:300px;
	
}
.content
{
	background-color:#FAF0CA;
	width:550px;
	height:600px;
	margin-left:300px;
	padding-left:50px;
	padding-top:50px;
	
	
	
}
.footer
{
	background-color:#E35033;
	width:600px;
	height:50px;
	margin-left:300px;
	padding-top:10px;
	padding-bottom:20px;
	
	
	
}